<table class="m-t-10" mat-table [dataSource]="users" multiTemplateDataRows>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon color="primary">edit</mat-icon>
            <mat-icon color="warn" (click)="onDelete(element.id)">delete_forever</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            Name
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
            Email
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.email }}
        </td>
    </ng-container>
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>
            Age
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.age }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
</table>

<div fxlayout="row wrap" class="row-flex no-record-found-label" *ngIf="users.length == 0">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div class="text-muted text-center">No record found</div>
    </div>
</div>